<div class="mt-4 ">
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="Name" class="form-label">Location name</label>
      <input type="text" class="form-control" id="Name" name="name">
    </div>
    <div class="mb-3">
      <label for="Price" class="form-label">Location price</label>
      <input type="text" class="form-control" id="Price" name="price">
    </div>
    <div class="mb-3">
      <label for="Img" class="form-label">Location img</label>
      <input type="text" class="form-control" id="Img" name="img">
    </div>
    {{!-- <div class="mb-3">
      <label for="InputSlug" class="form-label">Location slug</label>
      <input type="te xt" class="form-control" id="InputSlug">
    </div> --}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>