<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button type="button" class="btn btn-primary btn-lg">Đặt lịch</button>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <img src="{{course.img}}" class="card-img-top" style="max-width: 900px">
            <p>{{course.price}}</p>
        </div>
    </div>
</div>